@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Damit der Seiteninhalt in der Mitte in drei Boxen angezeigt wird, 
müssen diese CSS-Attribute verwendet werden.*/ 

body {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    place-items: center;
    background-color: hsl(0, 0%, 95%)
}

main {
    margin: 100px 0;
    display: grid;
    grid-auto-flow: column;
    border-radius: 10px;
    overflow: hidden;
}

.col-1,
.col-2,
.col-3 {
    width: 220px;
    height: 450px;
    padding: 20px 40px;
    display: grid;
    text-align: left;
    align-items: center;
    text-align: start;
}

/* TODO: Ergänzen Sie hier ihr CSS für das Design*/ 

.col-1{
    background-color: hsl(31, 77%, 52%);
}

.col-2{
    background-color: hsl(184, 100%, 22%);
}

.col-3 {
    background-color: hsl(179, 100%, 13%);
}

.fliesstext{
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
    font-weight: 400;
}

h1{
    color: hsl(0, 0%, 95%);
    font-size: 45px;
    font-family: "Big Shoulders Display";
    font-weight: 700;
    margin: -30px 0;
}

.button1 {
    background: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    border: 1px solid #eee;
    border-radius: 20px;
    text-shadow: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Lexend Deca';
    font-weight: 400;
}

.button1:hover{
    transition: all .5s ease-in-out;
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
}

.button2 {
    background: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
    border: 1px solid #eee;
    border-radius: 20px;
    text-shadow: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Lexend Deca';
    font-weight: 400;
}

.button2:hover{
    transition: all .5s ease-in-out;
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}

.button3 {
    background: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
    border: 1px solid #eee;
    border-radius: 20px;
    text-shadow: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Lexend Deca';
    font-weight: 400;
}

.button3:hover{
    transition: all .5s ease-in-out;
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}
